#home {
    color: white;

    .introducing {
        .left {
            #job {
                color: var(--grey);
                font-size: 96px;
            }
        
            h1 {
                font-size: 128px;
            }
        }

        .right {
            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}