#home {
    background-color: var(--black);
    background-image: url("/images/texture.png");
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}