.rightSide {
    width: 70%;
    height: 100%;
    margin-left: 30%;
    
    position: relative;
    overflow: hidden;

    border-left: 3px solid var(--pink);

    .parallax-layer {
        padding: 50px;
    }
}